        /* Custom Styles */
        body {
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-weight: bold;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .survey-title {
            font-weight: bold;
        }

        .survey-response {
            color: #dc3545; /* Red color for the response count */
            font-size: 24px;
            font-weight: bold;
        }

        .circle-chart {
            width: 100%;
            max-width: 100px;
            height: auto;
        }

        .greeting {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
        }