body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.survey-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #007bff;
    text-decoration: none;
}

.survey-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.badge-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
}

.input-group {
    max-width: 600px;
    margin: 0 auto;
}

.input-group .form-control {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: 2px solid #ddd;
}

.input-group .btn {
    font-size: 1.1rem;
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.input-group .btn:hover {
    background-color: #007bff;
    color: #fff;
}
