* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fde5e5, #f9b4b4);
    background-size: 200% 200%;
    animation: gradientShift 5s ease infinite;
    padding: 20px;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.survey-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Adjust this to increase the space from the navbar */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c54b4b; /* Fujairah theme color */
}

.form-group label {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.form-control {
    border-radius: 8px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-question-btn {
    color: #c54b4b;
    border-color: #c54b4b;
    font-weight: bold;
}

.clear-survey-btn {
    color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
}

.create-survey-btn {
    color: white;
    background-color: #c54b4b;
    border: none;
    font-weight: bold;
}

.survey-header {
    text-align: center;
    color: #c54b4b;
    margin-bottom: 30px;
}

#questionsContainer h2 {
    color: #333;
    margin-bottom: 10px;
}

.question-block {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f7f7f7;
    position: relative;
}

.btn-remove-question {
    background-color: transparent;
    color: #e74c3c; /* Light red color for delete */
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-remove-question:hover {
    background-color: #e74c3c;
    color: white;
}

.btn-remove-option {
    background-color: transparent;
    color: #e74c3c;
    border: none;
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-remove-option:hover {
    background-color: #e74c3c;
    color: white;
}

.add-option-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.add-option-btn:hover {
    background-color: #2980b9;
}

.option-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.option-wrapper input[type="text"] {
    flex-grow: 1;
}
