

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <title>Survey Suite</title>
</head>
<body>
    <h1>Survey Suite</h1>
    <div class="logo">
        <img src="{{ url_for('static', filename='fj_logo.jpeg') }}" alt="Fujairah logo">
    </div>
    <div class="motto">
        <p>...Empowering Decisions with Data</p>
    </div>
    <div class="container">
        <form action="/login" method="get">
            <button type="submit">Continue</button>
        </form>
    </div>
</body>
</html>